<div class="modal hide fade" id ="modal-window">
  <div class="modal-header">
    <a href="#"class="close">x</a>
    <h3> Se incarca</h3>
  </div>
  <div class="modal-body center">
    <h2> salut</h2>
  </div>
</div>
