<h1>Iata consultatiile pentru <%= @pacient.nume %></h1>

<table>
  <tr>
    <th>Data</th>
    <th> Vezi detalii </th>
    <th>Vezi ultima reteta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for evaluare in @pacient.evaluares %>
    <tr>
      <td><%= evaluare.data %></td>
      <td><%= link_to 'detalii',pacient_evaluare_path(@pacient, evaluare) %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Adauga alta evaluare', new_pacient_evaluare_path(@pacient) %>
